@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body {
  font-family: 'Inter', sans-serif;
  line-height: 1.7;
  font-size: 1.1rem;
  margin: 0;
  color: #27253d;
  background: #e6f3f8;
}

main {
  position: relative;
  padding: 1rem 1rem 3rem;
  min-height: calc(100vh - 4rem);
}

h1 {
  margin-top: 0;
}

.hidden {
  display: none;
}

.pagination-container {
  background-color: black;
  border-radius: 1rem;
  width: 30%;
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  justify-content: center;
}

.pagination-number,
.pagination-button{
  color: white;
  font-size: 1.1rem;
  background-color: transparent;
  border: none;
  margin: 0.25rem 0.25rem;
  cursor: pointer;
  height: 1.5rem;
  width: 1.5rem;
  border-radius: .2rem;
}

.dots {
  background-color: transparent;
  border: none;
  color: white;
}

.pagination-number:hover,
.pagination-button:not(.disabled):hover {
  background: gray;
}

.pagination-number.active {
  color: red;
  /* background: gray; */
}

.disabled {
  display: none;
}